<% comments.each do |comment| %>
  <div class="flex px-2.5 py-2.5 items-center">
    <%= link_to user_path(User.find(comment.user_id)) do %>
    <%= image_tag User.find(comment.user_id).avatar.url, class: "rounded-full h-[40px] w-[40px] mx-2.5"%>
    <% end %>
    <div class="flex flex-col bg-[#ebedf0] rounded-[18px] flex-1 gap-1">
    <p class="text-xs font-bold px-[12px] pt-2"><%= User.find(comment.user_id).name %></p>
    <p class="text-xs px-[12px] pb-2"><%= comment.body %></p>
    </div>
  </div>
<% end %>
