  <nav class="bg-[#dadde1] flex flex-col gap-1">
  <div class="bg-[#3b5998] flex py-2.5 relative h-[54px] items-center">
    <%= link_to posts_path do %>
      <span class="material-symbols-outlined text-white pl-2 absolute top-[15px]">arrow_back</span>
    <% end %>
    <p class="text-center text-white flex-1 text-m"><%= name %></p>
  </div>
</nav>