    <% if post.likes.count > 0 %>
      <div class="flex flex-col flex-1 justify-end">
        <p class="flex px-2.5 items-center text-sm gap-1.5">
          <span class="material-symbols-outlined flex items-center justify-center bg-[#2f9ffc] rounded-full text-[17px] w-[20px] text-center h-[20px] text-white">thumb_up_off</span>
          <%= post.likes.count %>
        </p>
      </div>
    <% else %>
      <p class="flex flex-col flex-1 justify-end"></p>
    <% end %>